*{
    margin: 0;
    padding: 0;
}

body{
    
}

/* header start */
header{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
}
.logo{}
.logo a{}
.logo a img{}
.menu{}
.menu ul{
    list-style: none;
}
.menu ul li{
    float: left;
    margin-left: 100px;
}
.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 5px;
}
.menu ul li a:hover{
    color: #121212;
    border-bottom: 1px solid #121212;
}
/* header end */

/* border start */
.banner{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.banner img{
    width: 100%;
}
/* border end */

/* photodiary start */
.photodiary{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.photodiary h5{
    text-transform: uppercase;
    color: #b4ad9e;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 30px;
}
.photodiary h1{
    text-transform: capitalize;
    color: #626262;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
}
.photodiary p{
    color: #626262;
    line-height: 24px;
    margin-bottom: 60px;
    font-family: 'Playfair Display', serif;
}
.photodiary h5{}
.photodiary h5 a{
    text-decoration: none;
    color: #b4ad9e;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
.photodiary h5 a:hover{
    color: #b89042;
}
/* photodiary end */

/* content-area start */
.content-area{
    padding-top: 100px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.content-area-box{
    width: 45%;
}
.content-area-box img{
    width: 100%;
}
.content-area-box h5{
    text-transform: uppercase;
    color: #b4ad9e;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
}
.content-area-box h1{
    margin-top: 20px;
    text-transform: capitalize;
    color: #626262;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}
.content-area-box p{
    margin-top: 20px;
    color: #626262;
    line-height: 24px;
    font-family: 'Playfair Display', serif;
}
/* content-area end */

/* newsletter start */
.newsletter{
    margin-top: 100px;
    width: 100%;
    background-color: #f0f0f0;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter-content{}
.newsletter-content h1{
    margin-bottom: 60px;
    font-size: 30px;
    color: #333333;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.email-fill{
    position: relative;
}
.email-fill input:first-child{
    border-style: none;
    width: 400px;
    background-color: transparent;
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 6px;
    outline: none;
}
.email-fill input:last-child{
    background:url(../images/send-icon.png) no-repeat;
    cursor: pointer;
    border: none;
    position: absolute;
    width: 18px;
    right: 0;
    bottom: 0;
    padding-bottom: 8px;
}
/* newsletter end */

/* cta start */
.cta-button{
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta-button input{
    border-style: none;
    background-color: #ffffff;
    border: 1px solid #dddcd7;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    cursor:pointer;
}
.cta-button input:hover{
    background-color: #fcfcfc;
    box-shadow: 0px 1px 3px rgba(0,0,0,.14);
}
/* cta end */

/* footer start */
footer{
    min-height: 100px;
    width: 100%;
    background-color: #f0f0f0;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin: auto;
    height: 100px;
}
.privacy{}
.privacy ul{
    list-style: none;
}
.privacy ul li{
    float: left;
    margin-right: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}
.privacy ul li a{
    color: #000000;
    text-decoration: none;
}
.privacy ul li a:hover{
    color: #121212;
    border-bottom: 1px solid #121212;
}
.social{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #000000;
}
.social ul{
    list-style: none;
}
.social ul li{
    float: left;
    margin-right: 20px;
}
.social ul li a{
    color: #000000;
}
.social ul li a i{}
.fa-facebook-f:hover{
    color: #3b5998;
}
.fa-twitter:hover{
    color: #00acee;
}
.fa-instagram:hover{
    color: #d6249f;
}
/* footer end */